In [1]:
print('helllo')

helllo

In [2]:
import math

In [4]:
n=4
print(math.sqrt(n))

2.0

In [6]:
def add(x,y):
    return x + y

def sub(x,y):
    return x - y

import math

In [7]:
print(add(1,2))

3

In [8]:
print(sub(4,6))

-2

In [9]:
import sys

In [10]:
print(sys.path)

['/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python312.zip', '/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12', '/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/lib-dynload', '', '/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages']

In [11]:
import math

In [13]:
print(sys.path)

['/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python312.zip', '/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12', '/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/lib-dynload', '', '/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages']

In [14]:
import mysql.connector

In [15]:
!pip install pandas sqlalchemy

Requirement already satisfied: pandas in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (2.0.30)
Requirement already satisfied: numpy>=1.26.0 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [16]:
import pandas as pd
from sqlalchemy import create_engine

In [17]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="jinal"
)

print(mydb)

ProgrammingError: 1698 (28000): Access denied for user 'root'@'localhost'

In [18]:
print('amskl')

amskl

In [20]:
print('cnxjz')

cnxjz

In [21]:
while True Print('asjkash)

SyntaxError: unterminated string literal (detected at line 1) (420833358.py, line 1)

In [22]:
if a>b
    print('dnjk)

SyntaxError: unterminated string literal (detected at line 2) (1753833765.py, line 2)

In [ ]:
# erorros are the problem in a program due to which the program will stop the execution.
syntax error
name error
value error

In [23]:
m=1000
a=m/0
print(a)

ZeroDivisionError: division by zero

In [25]:
if a>b:
print('dsk')

IndentationError: expected an indented block after 'if' statement on line 1 (589579168.py, line 2)

In [ ]:
index error - when the wrong index of a list is retrieved
assertion error - occurs when the assert statemnt fails
attribute error - occurs when an attribute assignment is failed
import error - occurs when imported module is not found
key error - occur when key of the dictionarty not found
name error - occurs when variable is not found
memory error -occurs when program run out of memory
type error- occur when a functiona and operation are applied in a nincorrect type

In [ ]:
handling exception with try / except / finally

In [32]:
arr=[12,43,66,56837,43,65,7589457648]

def largest(arr):
    if not arr:
        return None
    largest=arr[0]
    for i in arr[1:]:
        if i >largest:
           largest=i
    return largest

print(arr)
print(largest(arr))

[12, 43, 66, 56837, 43, 65, 7589457648]
7589457648

In [27]:
arr=[10,43,32,543,32,54,32,54]
arr[1:]

[43, 32, 543, 32, 54, 32, 54]

In [101]:
'''Get Keys with Maximum and Minimum Value in a Dictionary

	D1 = {'Jim': 23, 'Sam': 29, 'Dean': 33, 'Micheal': 40}
	
	result:
	max: Micheal 40
	min: Jim 23
	'''

d1= {'jim':23,'Sam':29,'Dean':33,'Micheal':40}
for i in d1.keys():
    print(i)

print(min(d1.items()))
print(max(d1.items()))

jim
Sam
Dean
Micheal
('Dean', 33)
('jim', 23)

In [49]:
'''	
2. Count the Frequency of List Items Using a Dictionary

	List1 = [1, 2, 2, 3, 4, 1, 4, 5, 5, 6, 7, 7]
'''


n=[1,2,2,3,4,1,4,5,5,6,7,7]
def frequen(n):
    fre={}
    for i in n:
        if i in fre:
            fre[i]+=1
        else:
            fre[i]=1
    return fre

print(frequen(n))

{1: 2, 2: 2, 3: 1, 4: 2, 5: 2, 6: 1, 7: 2}

In [62]:
'''3. Change the Value of a Key in Nested Dictionary

	D1 = {'emp1': {'name' : 'Jim', 'age' : 26, 'job' : 'developer'}}
'''

d1= {'emp1': {'name':'jim' , 'age':26, 'job':'developer'}}


d1['emp1']['name']='jinal'
d1

{'emp1': {'name': 'jinal', 'age': 26, 'job': 'developer'}}

In [104]:
'''4. Sort a Given Dictionary by Value

	D1 = {'Jim': 23, 'Jerry': 29, 'Micheal': 40, 'Merlin': 45, 'Antony': 34}
	
	result:
	Merlin 45
	Micheal 40
	Antony 34
	Jerry 29
	Jim 23		
	
'''
D1= {'jim':23,'jerry':29,'Michel':40,'Merlin':45, 'antonuy':34}

items=list(D1.items())
n=len(items)
for i in range(n):
    for j in range(0,n-i-1):
        if items[j][1] > items[j+1][1]:
            items[j],items[j+1]=items[j+1],items[j]

s=dict(items)
print(s)

{'jim': 23, 'jerry': 29, 'antonuy': 34, 'Michel': 40, 'Merlin': 45}

In [94]:
'''5. Count the Number of matching characters in a pair of string

	str1 = 'abcdef'
	str2 = 'defghia'''


str1='abcdef'
str2='defghia'
def char_match(s1,s2):
    for i in s1:
        for j in s2:
            if i==j:
                print(i , end=' ')
        

char_match(str1,str2)

a d e f

In [93]:
D1 = {'Jim': 23, 'Sam': 29, 'Dean': 33, 'Micheal': 40}

max_key=None
max_value=None
min_key=None
min_value=None

for key,value in D1.items():
    if  max_value is None or value > max_value:
        max_value=value
        max_key=key
    if  min_value is None or value < min_value:
        min_value=value
        min_key=key

print(max_key,max_value)
print(min_key,min_value)

Micheal 40
Jim 23

In [109]:
class B(Exception):
    pass

class C(B):
    pass

class D(C):
    pass

for i in [B,C,D]:
    try:
        raise i()
    except D:
        print('D')
    except C:
        print('c')
    except B:
        print('B')

B
c
D

In [112]:
 import math

In [113]:
import math as m

In [114]:
m.pi

3.141592653589793

In [115]:
x=9.7
m.floor(x)

9

In [117]:
m.ceil(x)

10

In [118]:
import sys

In [119]:
sys.path.append('/home/test/')

In [ ]:
syntax error - due to syntax error
type error - due to data types 
Name error - due to variable or function name is not found
index error - index is out of range
key error - key is not found in dictionary
value error - called with an invalid argument or input
attribute error - attribute or method is not found on an object
IO error - reading or writing file fail dut to an input/output error
ZeroDivision Error - divide a number by zero
Import Error - fails to find or load a  module.

In [124]:

try:
    raise NameError('hiiii there')
except NameError:
    print('an exception')
raise

an exception

RuntimeError: No active exception to reraise

In [128]:
try:
    numerator=10
    denominator=0
    re=numerator/denominator
    print(re)

except:
    print('Error : denominator cannot be 0 .')

Error : denominator cannot be 0 .

In [129]:
try:
    even=[2,4,6,8]
    print(even[5])

except ZeroDivisionError:
    print('denominator cannot be 0.')
except IndexError:
    print('index out of bound')

index out of bound

In [134]:
import sys
try:
    f= open('myfile.txt')
except OSError as err:
    print('os error' , err)
except ValueError:
    print('could not convert data to an integer')
except Exception as err:
    print(f' uneexpected {err=} , {type(err)}')
raise

os error [Errno 2] No such file or directory: 'myfile.txt'

RuntimeError: No active exception to reraise

In [ ]:
admin interface (CRUD )
templating
form handling
internationalization
ORM object relational mapping
testing framework

In [ ]:
MVT- model view Template architecture
middleware- middleware are hook to modify django request or response object. it's a light,low-level
pligin system for globally altering django's input or output.

In [ ]:
decorators- modify a behaviour or change behaviour of function without permanatly 
changing it.

In [ ]:
django project directory structure-

    manage.py- command line utility that allows you to interact with your django project
    __init__.py- current directory should be considered as python package
    urls.py- all the URLs of the project are present here
    seeting.py - configurations of the current project like DB connectiolns 
    wsgi.py- entry point for your application which is used by the web server to serve the project you have created.

In [ ]:
jinja2 = set default template system in django

In [ ]:
models in django- class that mapts to database table or database collections.

In [ ]:
views- it takes web request and returns a web response.

In [ ]:
ORM- object relational mapper enables us to interact witgh database is more pythonic way 
like we avoid writing a raw queries.

In [ ]:
static files -

In [ ]:
project and app- project is the entire django application
app- module inside the project

In [ ]:
user authnetication- 
users, groups, user-permissions and few cokies-based user sessions.

In [ ]:
context- dictionary mapping template variable name given to python objects in django.

In [ ]:
model.objects.all()
model.objects.filter(field_name='jinal')

In [ ]:
dbms- database relational management system
rdbms- relational database management system
sql- structured query language

In [ ]:
sql-  primarily calledm relational database
nosql- called no relational database


sql - databases define and manipulate data-based strctured query langauge.

In [ ]:
create, delete, and updatr4e tables in a database
access, manipulate , and m modify data in a table
retrive and summarize the necessary information froma table or several tables
add or remove certailn rows or columns from a table.

In [ ]:
DDL - create, alter drop, truncate amnd add column
DML- update , delete and insert
DCL - grant and revoke
TCL- commit,set transaction, rollback, and savepoint
DQL - select

In [ ]:
default - provides a default value for a column
unique - allowa only unique key
not null- allows only non-null values
primary key - allowa only uinque and strictly non-null values
foreign key - provides shared keys  between two and more tables

In [ ]:
join- combine and retrive records from two or more tables.sql tables can be joined based 
on the relationship the columns of those tables.

In [ ]:
inner join
left outer join
right outer join
full outer join

In [ ]:
sub query- select, from, where, update

In [ ]:
constraints- rule

In [ ]:
contra

In [ ]:
select * from tablename;

In [ ]:
select name, city from tablename;

In [ ]:
select movie_title,year_released from movies where movie_title like '%godfather%';

In [ ]:
select city,name from tablename where name >500;

In [ ]:
select moview_title, year released from movies where year_released < 2001 and 
imdb_rating > 9;

In [ ]:
time complexity
space complexity