In [1]:
while True print('hello wrold')

SyntaxError: invalid syntax (1680983500.py, line 1)

In [2]:
10 * (1/0)

ZeroDivisionError: division by zero

In [3]:
4 + spam*3

NameError: name 'spam' is not defined

In [4]:
'2' + 2

TypeError: can only concatenate str (not "int") to str

In [5]:
n * 3

NameError: name 'n' is not defined

In [7]:
while True:
    try:
        x= int(input('enter a number'))
        break
    except ValueError:
        print('oops ! that was no valid number . try again')

enter a number uhjm

oops ! that was no valid number . try again

enter a number dhs

oops ! that was no valid number . try again

enter a number 4535tf

oops ! that was no valid number . try again

enter a number 453

In [8]:
class B(Exception):
    pass

class C(B):
    pass

class D(C):
    pass

for i in [B,C,D]:
    try:
        raise i()
    except D:
        print('D')

    except C:
        print('C')

    except B:
        print('B')

B
C
D

In [9]:
import sys

In [10]:
try:
    f=open('myfile.txt')
    s=f.readline()
    i=int(s.strip())
except OSError as err:
    print('os error :',err )
except ValueError:
    print('could not copnvert data to an integer')
except Exception as err:
    print(f'unexcpected {err=} , {type(err)=}')
    raise

could not copnvert data to an integer

In [11]:
raise NameError('hii there')

NameError: hii there

In [12]:
raise ValueError()

ValueError:

In [13]:
try:
    raise NameError('hiii there')
except NameError:
    print('an exception flew by ! ')
    raise

an exception flew by !

NameError: hiii there

In [17]:
try:
    open('myfilesd.txt')
except OSErroe:
    raise RuntimeError('unable to handle error')

NameError: name 'OSErroe' is not defined

In [18]:
def func():
    raise ConnectionError

try:
    func()
except ConnectionError as exc:
    raise RuntimeError('failed to open database') from exc

RuntimeError: failed to open database

In [19]:
try:
    open('database.sqlite')
except OSError:
    raise Runtimerror from None

NameError: name 'Runtimerror' is not defined

In [ ]:
try
except
else
finally

In [20]:
return 'datacamp'

SyntaxError: 'return' outside function (1211016649.py, line 1)

In [21]:
def fun():
return 'datacamp'

IndentationError: expected an indented block after function definition on line 1 (769266011.py, line 2)

In [22]:
test= 1/0

ZeroDivisionError: division by zero

In [23]:
y=test

NameError: name 'test' is not defined

In [ ]:
try- run the code under try

except - when there is an exception, execute the code under except

In [25]:
try:
    print(p)
except:
    print('an exception has occurred ! ')

an exception has occurred !

In [31]:
try:
    print(12/0)
except ZeroDivisionError:
    print('you cannot divide a value with zero')
except:
    print('something else went wrong')

you cannot divide a value with zero

In [33]:
try:
    with open('data.csv') as file:
              read_data=file.read()
except FileNotFoundError as fn:
    print(fn)
    print('explanation : we cannot load the "data.csv" file')

[Errno 2] No such file or directory: 'data.csv'
explanation : we cannot load the "data.csv" file

In [ ]:
try = run the code under try
except - when there is an exception, execute the code under except
else - when there is no exception , execute the code under else after try

In [34]:
try:
    result = 1/3
except ZeroDivisionError as err:
    print(err)
else:
    print(f'your answer is {result}')

your answer is 0.3333333333333333

In [38]:
x= [5,8,9,13]

def find_nth_value(x,n):
    try:
        result=x[n]
    except IndexError as err:
        print(err)
    else:
        print('your answer is ', result)

find_nth_value(x,2)

your answer is  9

In [ ]:
finally - alsways run the code finally. no matter what this block awill always run.

In [40]:
def divide(x,y):
    try:
        value=50
        x.append(value)
    except AttributeError as atr_err:
        print(atr_err)

    else:
        try:
            result = [ i/y for i in x]
            print(result)
except ZeroDivisionError:
            print('please change 'y' argument to non-zero value')

    finally:
        print('hello jinal')

IndentationError: unindent does not match any outer indentation level (<string>, line 15)

In [43]:
def divide(x,y):
    
    try:
        value = 50
        x.append(value)
    
    except AttributeError as atr_err:
        print(atr_err)
        
    else:
        try:
            result = [i / y for i in x]
            print( result )
    except ZeroDivisionError:
            print("Please change 'y' argument to non-zero value")

    finally:
        print("\033[92m Code by DataCamp\033[00m")

SyntaxError: expected 'except' or 'finally' block (2237938711.py, line 14)

In [44]:
def exgroup():
    ex_gr= ExceptionGroup('exception message !',
                         [FileNotFoundError ('this file is not found'),
                         ValueError('invalid value Provided'),
                         ZeroDivisionError('trying to divide by 0')])
    raise ex_gr

In [46]:
exgroup()

  + Exception Group Traceback (most recent call last):
  |   File "/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
  |     exec(code_obj, self.user_global_ns, self.user_ns)
  |   File "/tmp/ipykernel_4782/3771874629.py", line 1, in <module>
  |     exgroup()
  |   File "/tmp/ipykernel_4782/2037209825.py", line 6, in exgroup
  |     raise ex_gr
  | ExceptionGroup: exception message ! (3 sub-exceptions)
  +-+---------------- 1 ----------------
    | FileNotFoundError: this file is not found
    +---------------- 2 ----------------
    | ValueError: invalid value Provided
    +---------------- 3 ----------------
    | ZeroDivisionError: trying to divide by 0
    +------------------------------------

In [47]:
def bool_return():
    try:
        return True
    finally:
        return False

bool_return()

False

In [48]:
def divide(x,y):
    try:
        result= x/y
    except ZeroDivisionError:
        print('division by zero !')
    else:
        print('result is' , result)
    finally:
        print('executing finally clause')

In [49]:
divide(2,1)

result is 2.0
executing finally clause

In [50]:
divide(2,0)

division by zero !
executing finally clause

In [51]:
divide('2','1')

executing finally clause

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [52]:
for line in open('myfile.txt'):
    print(line,end=' ')

asdjsadgbhbsd
 dsa
 helo jinal

In [127]:
''' 6. Maximum length work in string:

	s = "This is a python language"
	
	result: 8
	
'''

count= 0
s= 'this is a python language'
m=s.split()
for char in m:
    count+=1
print(count)

5

In [95]:
''' 7. Maximum Number of repeaing character in a pair of string

	str1 = 'abcdefaaf'
	
	
	result: a
		'''
def fre_count(str1):
   
    char_count={}
    for i in str1:
        if i in char_count:
            char_count[i]+=1
        else:
            char_count[i]=1
    return char_count

str1= 'abcdefaaf'
m=fre_count(str1)

max_key=None
max_value=None

for key,value in m.items():
    if max_value is None or value>max_value:
        max_value=value
        max_key=key

print(max_key)

a

In [104]:
''' 7. Minimum Number of repeating character in a pair of string

	str1 = 'abcdefaaf'
	
	
	result: b'''



def frequency_count(str1):
    count={}
    for i in str1:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    return count

str1='abcdefaaf'
m1=frequency_count(str1)
min_key=None
min_value=None

for key,value in m1.items():
    if min_value is None or value < min_value:
        min_value=value
        min_key=key

print(min_key)

b

In [113]:
''' 8. Test if string is subset of another
	
	test_str1 = "geeksforgeeks"
	test_str2 = "gfks"
	
	result:
		true
	
	test_str1 = "geeksforgeeks"
	test_str2 = "gfpks"
	
	result:
		false '''



test_str1= 'geeksforgeeks'
test_str2='gfks'

def is_subset(str1,str2):
    s=set(str1)
    s1=set(str2)
    return s1.issubset(s)

print(is_subset(test_str1,test_str2))

test1 = "geeksforgeeks"
test2 = "gfpks"

print(is_subset(test1,test2))

True
False

In [142]:
''' FIND SUBARRAY WITH GIVEN SUM
List = [1, 4, 20, 3, 10, 5]
 	Sum = 33
 	Result: True '''


def subarray(arr,n,sum):
    for i in range(n):
        add1=arr[i]
        if(add1 ==sum):
            print('sum at indexes',i)
            return
        else:
            for j in range(i+1,n):
                add1+=arr[j]
                if (add1 ==sum):
                    print(f'sum found between {i} and {j}')
                    return
    print('no sub arrary')


arr=[1,4,20,3,10,5]
n=len(arr)
sum=33
subarray(arr,n,sum)

sum found between 2 and 4

In [124]:
''' 9. Check if a Substring is Present in a Given String
	String="geeks for geeks"
	Substring = "geeks"
	
	result: Yes

	String="geeks for geeks"
	Substring = "geeks"
	
	result: Yes	'''


s1= 'geeks for geeks'
s2= 'geeks'

s1=s1.split()


for i in s1:
    if i==s2:
        print('yes')
        break
    else:
        print('no')

yes

In [149]:
''' 
 	List = [1, 4, 20, 3, 10, 5]
 	Sum = 8
 	Result: True	
'''



def subarray(arr,n,sum):
    for i in range(n):
        add1=arr[i]
        if(add1 ==sum):
            print('sum at indexes',i)
            return
        else:
            for j in range(i+1,n):
                add1+=arr[j]
                if (add1 ==sum):
                    print(f'sum found between {i} and {j}')
                    return
    print('no sub arrary')


arr=[1,4,20,3,10,5]
n=len(arr)
sum=8
subarray(arr,n,sum)

no sub arrary