In [1]:
s=[]
for x in range(10):
    s.append(x**2)

s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
s= list(map(lambda x: x**2, range(10)))
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
s=[x**2 for x in range(10)]
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
l=[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]
l

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [7]:
from math import pi
print(pi)

3.141592653589793

In [8]:
m=pi*2

In [9]:
matrix=[]
for i in range(5):
    matrix.append([])
    for j in range(5):
        matrix[i].append(j)
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [13]:
m=[[j for j in range(5)] for i in range(5)]
print(m)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [15]:
ma=[[1,2,3],[4,5,6],[7,8,9]]
odd=[]
for row in ma:
    for element in row:
        if element %2!=0:
            odd.append(element)
print(odd)

[1, 3, 5, 7, 9]

In [18]:
a=[-1,1,66,25, 333,1232,5,554,65,43]
del a[2:3]

In [19]:
a

[-1, 1, 25, 333, 1232, 5, 554, 65, 43]

In [20]:
del a [:]

In [21]:
a

[]

In [22]:
t= 12,34,3,'hello',43.5,65
t[0]

12

In [23]:
t[-1]

65

In [24]:
t[::-1]

(65, 43.5, 'hello', 3, 34, 12)

In [25]:
t[-1:-4]

()

In [26]:
t[-4]

3

In [28]:
u=t,(1,2,3,4,5,67,8,9,10)
u

((12, 34, 3, 'hello', 43.5, 65), (1, 2, 3, 4, 5, 67, 8, 9, 10))

In [29]:
t[0]

12

In [30]:
u[0]

(12, 34, 3, 'hello', 43.5, 65)

In [31]:
u[1][2]

3

In [32]:
u[1][8]

10

In [37]:
b={'apple', 'orangek', 'apple', 'orangenj', 'banana'}
b

{'apple', 'banana', 'orangek', 'orangenj'}

In [38]:
if 'orange' in b:
    print('True')
else:
    print ('False')

False

In [39]:
a=set('agvghdfegry')
b=set('ahdsdgbhj')
a

{'a', 'd', 'e', 'f', 'g', 'h', 'r', 'v', 'y'}

In [40]:
b

{'a', 'b', 'd', 'g', 'h', 'j', 's'}

In [41]:
a | b

{'a', 'b', 'd', 'e', 'f', 'g', 'h', 'j', 'r', 's', 'v', 'y'}

In [42]:
a ^ b

{'b', 'e', 'f', 'j', 'r', 's', 'v', 'y'}

In [43]:
a & b

{'a', 'd', 'g', 'h'}

In [44]:
m={'name':'jinal','age':22,'graduation':'bca'}
m

{'name': 'jinal', 'age': 22, 'graduation': 'bca'}

In [45]:
m['lname']='lathiya'

In [46]:
m

{'name': 'jinal', 'age': 22, 'graduation': 'bca', 'lname': 'lathiya'}

In [49]:
m['name']

'jinal'

In [50]:
m['lname']

'lathiya'

In [53]:
''' Nested List Comprehension:
Write a nested list comprehension to create a list of tuples containing all pairs 
of numbers from two given lists.
Given a list of lists representing a matrix, write a nested list comprehension to flatten
the matrix into a single list.'''

m=[[j for i in range(5)] for j in range(5)]

m

[[0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1],
 [2, 2, 2, 2, 2],
 [3, 3, 3, 3, 3],
 [4, 4, 4, 4, 4]]

In [54]:
m=[[i for i in range(5)] for j in range(5)]

m

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [ ]:
'''Create a list of numbers and delete the elements at even
indices using the del statement.
Given a dictionary representing student grades, delete the entry for a specific student 
using the del statement.'''

In [63]:
n=[1,2,3,4,5,6,7,8,9,20]
odd=[]
for i in n:
    if i%2!=0:
        odd.append(i)
print(odd)

[1, 3, 5, 7, 9]

In [58]:
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

In [67]:
m={'jinal':99,'dixit':100,'rutvik':78,'hina':89}

del m['jinal']
m

{'dixit': 100, 'rutvik': 78, 'hina': 89}

In [68]:
m

{'dixit': 100, 'rutvik': 78, 'hina': 89}

In [71]:
''' Write a function that takes two tuples representing coordinates and calculates the 
distance between them using the distance formula.
Given a list of tuples containing student names and their corresponding ages, sort the list
based on the students' ages.'''


def func(n,n1):
    return n - n1

n=int(input('enter any integer'))
n1=int(input('enter second integer'))

k=func(n,n1)
print(k)

enter any integer 12
enter second integer 10

2

In [79]:
x=[('jinal',22),('dixit',67), ('hina',8),('ekta',25)]

m=sorted(x,key=lambda n: n[1])

In [80]:
m

[('hina', 8), ('jinal', 22), ('ekta', 25), ('dixit', 67)]

In [ ]:
Write a function to remove duplicate elements from a given list using sets.
Given two sets of integers, find the intersection and union of the sets.
Dictionaries:
Write a function that takes a list of strings and returns a dictionary where the keys are the strings and the values are their lengths.
Given a dictionary representing the frequency of words in a text, find the most common word.

In [82]:
m={2,3,4,5,6,4,3,2,4,5,6,4,3,2,4,5,3,5,4,3,6,78,9}

def duplicate_remove(n):
    return set(n)

k=duplicate_remove(m)
print(k)

{2, 3, 4, 5, 6, 9, 78}

In [83]:
#Given two sets of integers, find the intersection and union of the sets.

a={2,3,4,56,4,32,54,6,57,6,54,32,24,54,67,6,4}
b={6,4,3,2,345,6,45,3,2,4,6,7,5,32,4,4,6,7,8}

a | b

{2, 3, 4, 5, 6, 7, 8, 24, 32, 45, 54, 56, 57, 67, 345}

In [84]:
a & b

{2, 3, 4, 6, 32}

In [85]:
a ^ b

{5, 7, 8, 24, 45, 54, 56, 57, 67, 345}

In [86]:
a - b

{24, 54, 56, 57, 67}

In [93]:
#Write a function that takes a list of strings and returns a dictionary where 
#the keys are the strings and the values are their lengths.


def func(s):
    d={}
    for i in s:
        d[i]=len(i)
    return d
        
    

n=['jinal', 'hina','ekta', 'dixit', 'rutvik']
print(func(n))

{'jinal': 5, 'hina': 4, 'ekta': 4, 'dixit': 5, 'rutvik': 6}

In [97]:
def func(string):
    dict={}
    for i in string:
        dict[i]=len(i)
    return dict

s=['jiasdhjs','gdshagdh', 'dghgvbxcv', 'efgdhasvbh', 'gyefyge','aaaaaaaa']
print(func(s))

{'jiasdhjs': 8, 'gdshagdh': 8, 'dghgvbxcv': 9, 'efgdhasvbh': 10, 'gyefyge': 7, 'aaaaaaaa': 8}

In [98]:
#Given a dictionary representing the frequency of words in a text, find the most common
#word.

di={'jinal':5, 'dixit':45,'hin':87,'EKTA':90,'rutvik':76}
di

{'jinal': 5, 'dixit': 45, 'hin': 87, 'EKTA': 90, 'rutvik': 76}

In [99]:
def most_common_word(word_freq):
    max_freq = 0
    most_common = ''
    for word, freq in word_freq.items():
        if freq > max_freq:
            max_freq = freq
            most_common = word
    return most_common

# Example usage:
word_freq = {
    'apple': 3,
    'banana': 5,
    'orange': 2,
    'grape': 5
}

most_common = most_common_word(word_freq)
print("The most common word is:", most_common)

The most common word is: banana

In [100]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [102]:
basket=['banane','orange', 'apppple', 'pear', 'BANANA']
for i in sorted(basket):
    print(i)

BANANA
apppple
banane
orange
pear

In [ ]:
in
not are membership operators

In [104]:
for i in enumerate(['jinal', 'hina', 'ekta', 'hina']):
    print(i)

(0, 'jinal')
(1, 'hina')
(2, 'ekta')
(3, 'hina')

In [107]:
names=['jinal','ekta', 'hina', 'rutvik']
ages=[22,30,25,20]
for name,age in zip(names,ages):
    print(name,age)

jinal 22
ekta 30
hina 25
rutvik 20

In [110]:
import fibo

ModuleNotFoundError: No module named 'fibo'

In [109]:
!pip install fibo

Collecting fibo
  Downloading Fibo-1.0.0.tar.gz (855 bytes)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: fibo
  Building wheel for fibo (setup.py) ... done
  Created wheel for fibo: filename=Fibo-1.0.0-py3-none-any.whl size=1509 sha256=805fab29fce15a91e5b44027288aa13a7e246870ff48aceb527ee5eec4329118
  Stored in directory: /home/synchronized/snap/jupyterlab-desktop/common/.cache/pip/wheels/c1/35/9d/e7b2ccf290eba66bb003126a86becb8f9f48aeaad1e7bb309f
Successfully built fibo
Installing collected packages: fibo
Successfully installed fibo-1.0.0

In [112]:
import Fibo

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (Fibo.py, line 10)

In [113]:
import os

In [114]:
file= os.listdir('.')
print(file)

['1.py', 'Sales.csv', 'mysite', 'lists.ipynb', '.ipynb_checkpoints', 'myven', 'nested_list.ipynb', 'list compherension.ipynb', '.jupyter']

In [115]:
%ls

 1.py       'list compherension.ipynb'   mysite/   nested_list.ipynb
 Sales.csv   lists.ipynb                 myven/

In [116]:
help()

Welcome to Python 3.12's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.12/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".

help>  fibo

No Python documentation found for 'fibo'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [117]:
import sys
print(sys.path)

['/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python312.zip', '/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12', '/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/lib-dynload', '', '/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages']

In [118]:
help('modules')

Please wait a moment while I gather a list of all available modules...

/home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/pkgutil.py:78: UserWarning: The numpy.array_api submodule is still experimental. See NEP 47.
  __import__(info.name)

1                   asttokens           ipykernel_launcher  requests
Fibo                async_lru           ipympl              resource
IPython             asyncio             ipython_genutils    rfc3339_validator
PIL                 atexit              ipywidgets          rfc3986_validator
__future__          attr                isoduration         rlcompleter
__hello__           attrs               itertools           rpds
__phello__          audioop             jedi                runpy
_abc                babel               jinja2              sched
_aix_support        base64              json                scipy
_argon2_cffi_bindings bdb                 json5               secrets
_ast                binascii            jsonpatch           select
_asyncio            bisect              jsonpointer         selectors
_bisect             bleach              jsonschema          send2trash
_blake2             boltons             jsonschema_specifications setuptools
_brotli             brotli              jupyter             shelve
_bz2                bs4                 jupyter_client      shlex
_cffi_backend       builtins            jupyter_core        shutil
_codecs             bz2                 jupyter_events      signal
_codecs_cn          cProfile            jupyter_lsp         site
_codecs_hk          cached_property     jupyter_server      six
_codecs_iso2022     calendar            jupyter_server_terminals smtplib
_codecs_jp          certifi             jupyterlab          sndhdr
_codecs_kr          cffi                jupyterlab_pygments sniffio
_codecs_tw          cgi                 jupyterlab_server   socket
_collections        cgitb               jupyterlab_widgets  socketserver
_collections_abc    charset_normalizer  keyword             socks
_compat_pickle      chunk               kiwisolver          sockshandler
_compression        cmath               lib2to3             soupsieve
_contextvars        cmd                 libmambapy          spwd
_crypt              code                linecache           sqlite3
_csv                codecs              locale              sre_compile
_ctypes             codeop              logging             sre_constants
_ctypes_test        collections         lzma                sre_parse
_curses             colorama            mailbox             ssl
_curses_panel       colorsys            mailcap             stack_data
_datetime           comm                markupsafe          stat
_decimal            compileall          marshal             statistics
_distutils_hack     concurrent          math                string
_elementtree        conda               matplotlib          stringprep
_functools          conda_env           matplotlib_inline   struct
_hashlib            conda_libmamba_solver menuinst            subprocess
_heapq              conda_package_handling mimetypes           sunau
_imp                conda_package_streaming mistune             symtable
_io                 configparser        mmap                sys
_json               contextlib          modulefinder        sysconfig
_locale             contextvars         multiprocessing     syslog
_lsprof             contourpy           munkres             tabnanny
_lzma               copy                nbclient            tarfile
_markupbase         copyreg             nbconvert           telnetlib
_md5                crypt               nbformat            tempfile
_multibytecodec     csv                 nest_asyncio        terminado
_multiprocessing    ctypes              netrc               termios
_opcode             curses              nis                 test
_operator           cycler              nntplib             test_pycosat
_osx_support        dataclasses         notebook_shim       textwrap
_pickle             datetime            ntpath              this
_posixshmem         dateutil            nturl2path          threading
_posixsubprocess    dbm                 numbers             time
_py_abc             debugpy             numpy               timeit
_pydatetime         decimal             opcode              tinycss2
_pydecimal          decorator           operator            tkinter
_pyio               defusedxml          optparse            token
_pylong             difflib             os                  tokenize
_queue              dis                 ossaudiodev         tomli
_random             distro              overrides           tomllib
_ruamel_yaml        doctest             packaging           tornado
_sha1               email               pandas              tqdm
_sha2               encodings           pandocfilters       trace
_sha3               ensurepip           parso               traceback
_signal             entrypoints         pathlib             tracemalloc
_sitebuiltins       enum                pdb                 traitlets
_socket             errno               pexpect             truststore
_sqlite3            exceptiongroup      pickle              tty
_sre                executing           pickleshare         turtle
_ssl                fastjsonschema      pickletools         turtledemo
_stat               faulthandler        pip                 types
_statistics         fcntl               pipes               typing
_string             filecmp             pkg_resources       typing_extensions
_strptime           fileinput           pkgutil             typing_utils
_struct             fnmatch             pkgutil_resolve_name tzdata
_symtable           fontTools           platform            unicodedata
_sysconfigdata__linux_x86_64-linux-gnu fqdn                platformdirs        unittest
_sysconfigdata_x86_64_conda_cos6_linux_gnu fractions           plistlib            uri_template
_sysconfigdata_x86_64_conda_linux_gnu ftplib              pluggy              urllib
_testbuffer         functools           poplib              urllib3
_testcapi           gc                  posix               uu
_testclinic         genericpath         posixpath           uuid
_testimportmultiple getopt              pprint              venv
_testinternalcapi   getpass             profile             warnings
_testmultiphase     gettext             prometheus_client   wave
_testsinglephase    glob                prompt_toolkit      wcwidth
_thread             graphlib            pstats              weakref
_threading_local    grp                 psutil              webbrowser
_tkinter            gzip                pty                 webcolors
_tokenize           h11                 ptyprocess          webencodings
_tracemalloc        h2                  pure_eval           websocket
_typing             hashlib             pwd                 wheel
_uuid               heapq               py_compile          widgetsnbextension
_warnings           hmac                pyclbr              wsgiref
_weakref            hpack               pycosat             xdrlib
_weakrefset         html                pycparser           xml
_xxinterpchannels   http                pydoc               xmlrpc
_xxsubinterpreters  httpcore            pydoc_data          xxlimited
_xxtestfuzz         httpx               pyexpat             xxlimited_35
_yaml               hyperframe          pygments            xxsubtype
_zoneinfo           idlelib             pylab               yaml
abc                 idna                pyparsing           zipapp
aifc                imaplib             pythonjsonlogger    zipfile
antigravity         imghdr              pytz                zipimport
anyio               importlib           queue               zipp
archspec            importlib_metadata  quopri              zlib
argon2              importlib_resources random              zmq
argparse            inspect             re                  zoneinfo
array               io                  readline            zstandard
arrow               ipaddress           referencing
ast                 ipykernel           reprlib

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [119]:
help('fibo')

No Python documentation found for 'fibo'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [120]:
import mymodule

In [121]:
mymodule.greeting('jinal')

hellojinal

In [126]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython-sql) (8.22.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.30-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Collecting greenlet!=0.4.17 (from sqlalchemy>=2.0->ipython-sql)
  Downloading greenlet-3.0.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: decorator in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /home/synchronized/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.30-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 17.5 MB/s eta 0:00:00a 0:00:01
Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.0-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.0/44.0 kB 6.9 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (625 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 625.7/625.7 kB 30.5 MB/s eta 0:00:00
Installing collected packages: sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-3.0.3 ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.30 sqlparse-0.5.0
Note: you may need to restart the kernel to use updated packages.

In [128]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp312-cp312-manylinux_2_17_x86_64.whl.metadata (1.9 kB)
Downloading mysql_connector_python-8.4.0-cp312-cp312-manylinux_2_17_x86_64.whl (19.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.5/19.5 MB 8.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [129]:
!jupyter notebbok

usage: jupyter [-h] [--version] [--config-dir] [--data-dir] [--runtime-dir]
               [--paths] [--json] [--debug]
               [subcommand]

Jupyter: Interactive Computing

positional arguments:
  subcommand     the subcommand to launch

options:
  -h, --help     show this help message and exit
  --version      show the versions of core jupyter packages and exit
  --config-dir   show Jupyter config dir
  --data-dir     show Jupyter data dir
  --runtime-dir  show Jupyter runtime dir
  --paths        show all Jupyter paths. Add --json for machine-readable
                 format.
  --json         output paths as machine-readable json
  --debug        output debug information about paths

Available subcommands: dejavu events execute kernel kernelspec lab
labextension labhub migrate nbconvert run server troubleshoot trust

Jupyter command `jupyter-notebbok` not found.

In [130]:
import mysql.connector

In [131]:
mydb= mysql.connector.connect(
    host='localhost',
    user='jinal',
    password='jinal'
)

ProgrammingError: 1045 (28000): Access denied for user 'jinal'@'localhost' (using password: YES)

In [135]:
!SHOW GRANTS FOR 'root'@'localhost';

/bin/bash: line 1: SHOW: command not found

In [ ]:
sudo service mysql restart

In [ ]:
def nameage(name, age):
    print('hi i am', name)
    print('my age is ', age)

nameage(name='jinal)