In [1]:
def func(a):  #positional parameters or required parameters
    print(a)

func(4)

4

In [4]:
def func1(a,b=8): # in this argument a is required parameters whereas b is default parameters if not given then takes default value 8
    print(a+b)

func1(1)

9

In [5]:
#arbitray arguments list
''' this paramaeters allow a function to accept arbitrary number of arguments'''

def fun(*args):
    print(args)

fun('jinal', 'dixit', 'hina')

('jinal', 'dixit', 'hina')

In [6]:
def fun1(**kwargs):
    print(kwargs)

fun1(name='jinal', age=21, surname='lathiya')

{'name': 'jinal', 'age': 21, 'surname': 'lathiya'}

In [7]:
#positional-only parameters

'''parameters that only be passed by position and cannot be passed by name.'''

def fun2(arg,/):
    print(arg)

fun2('jinal')

jinal

In [25]:
for i in range(1,10):
    for k in range(1,i,-1):
        print(end=' ')
    for j in range(1,i):
        print('*',end=' ')
    print( )

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [31]:
for i in range(1,7):
    for j in range(1,i):
        print(j, end=' ')
    print( )

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
for i in range(10,0,-1):
    for j in range(1,i):
        print('*', end=' ')
    print( )

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [34]:
for i in range(10,0,-1):
    for j in range(1,i):
        print(j,end=' ')
    print( )

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [38]:
for i in range(1,10):
    for k in range(10,i,-1):
        print(end=' ')
    for j in range(1,i):
        print('*', end='  ')
    print( )

        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *
   *  *  *  *  *  *
  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *

In [46]:
for i in range(1,10):
    for k in range(10,i,-1):
        print(end=' ')
    for j in range(1,i):
        print(j, end=' ')
    print( )

        1
       1 2
      1 2 3
     1 2 3 4
    1 2 3 4 5
   1 2 3 4 5 6
  1 2 3 4 5 6 7
 1 2 3 4 5 6 7 8

In [48]:
for i in range(10,0,-1):
    for k in range(10,i,-1):
        print(end=' ')
    for j in range(1,i):
        print('*', end=' ')
    print( )

* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [50]:
for i in range(1,10):
    for k in range(10,i,-1):
        print(end=' ')
    for j in range(1,i):
        print('*', end=' ')
    print()
for a in range(10,0,-1):
    for k in range(10,a,-1):
        print(end=' ')
    for j in range(1,a):
        print('*', end=' ')
    print()

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [53]:
for a in range(10,1,-1):
    for k in range(10,a,-1):
        print(end=' ')
    for j in range(1,a):
        print('*', end=' ')
    print()
for i in range(2,10):
    for k in range(10,i,-1):
        print(end=' ')
    for j in range(1,i):
        print('*', end=' ')
    print()

* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *

In [54]:
#lambda function

x= lambda  a : a+10
print(x(5))

15

In [55]:
x= lambda a, b: a*b
print(x(2,3))

6

In [56]:
x= lambda a, b, c: a+b+c
print(x(2,3,4))

9

In [58]:
n=[2,3,4,5,6,7]
x= list(map(lambda a : a*2,n))
print(x)

[4, 6, 8, 10, 12, 14]

In [60]:
n=[12,23,34,32,2,1,2,3,43]
x= list(filter(lambda a : a%2==0 , n))
print(x)

[12, 34, 32, 2, 2]

In [64]:
def myfunc():
    '''sgdjgajh
    shdjk
    sdgahdb'''
    pass

print(myfunc.__doc__)
help(myfunc)

sgdjgajh
    shdjk
    sdgahdb
Help on function myfunc in module __main__:

myfunc()
    sgdjgajh
    shdjk
    sdgahdb

In [67]:
#functioon annotations
def add(x:int , y:int) -> int:
    return x+y

print(add(3,4))

7

In [71]:
n=[1,2,3,4,5,6,7,8,9]
n.append(10)
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
n1=[21,23,43,45,65]
n.extend(n1)
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 23, 43, 45, 65]

In [73]:
n.insert(1,23)
print(n)

[1, 23, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 23, 43, 45, 65]

In [74]:
n.remove(23)
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 23, 43, 45, 65]

In [82]:
m=n.pop(1)
print(m)

3

In [81]:
m=n.count(3)
print(m)

1

In [84]:
n.sort()
print(n)

[1, 4, 5, 6, 7, 8, 9, 10, 21, 23, 43, 45, 65]

In [85]:
n.reverse()
print(n)

[65, 45, 43, 23, 21, 10, 9, 8, 7, 6, 5, 4, 1]

In [86]:
m=n.copy()
print(m)

[65, 45, 43, 23, 21, 10, 9, 8, 7, 6, 5, 4, 1]

In [87]:
print(n)

[65, 45, 43, 23, 21, 10, 9, 8, 7, 6, 5, 4, 1]

In [89]:
n.clear()
print(n)

[]

In [90]:
print(m)

[65, 45, 43, 23, 21, 10, 9, 8, 7, 6, 5, 4, 1]

In [93]:
#stacks  which follows last in first out principle

stack=[]
stack.append(1)
stack.append(2)
stack.append(3)
stack.append(4)

print(stack)

t=stack.pop()
print(t)
print(stack)

[1, 2, 3, 4]
4
[1, 2, 3]

In [94]:
t= 12321,21212,'hello'
print(t)

(12321, 21212, 'hello')

In [95]:
t[0]

12321

In [96]:
u= t, (32,43,231,1)

In [97]:
u

((12321, 21212, 'hello'), (32, 43, 231, 1))

In [98]:
u[0]

(12321, 21212, 'hello')

In [99]:
u[1]

(32, 43, 231, 1)

In [100]:
u[0][1]

21212

In [102]:
u[1][2]

231

In [104]:
v=([1,2,3,4,5],[3,2,12,1])
v

([1, 2, 3, 4, 5], [3, 2, 12, 1])

In [105]:
empty=()
empty

()

In [106]:
x,y,z=t
x

12321

In [107]:
y

21212

In [108]:
z

'hello'

In [109]:
basket={'apple', 'orange', 'banana', 'pear', 'orange', 'banana'}
basket

{'apple', 'banana', 'orange', 'pear'}

In [110]:
for i in basket:
    print(i)

banana
orange
pear
apple

In [111]:
for i in sorted(basket):
    print(i)

apple
banana
orange
pear

In [112]:
#Write a  Python program to filter a list of integers using Lambda.

n=[1,2,3,4,5,6,7,8,9,10]

x= list(filter(lambda x : x%2==0,n))
print(x)

[2, 4, 6, 8, 10]

In [113]:
n=[1,2,3,4,5,6,7,8,9,10]
x= list(map(lambda x: x*x,n))
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [114]:
n=[1,2,3,4,5,6,7,8,9,10]
m=list(map(lambda x: x*x*x,n))
print(m)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [116]:
class myclass:
    x=5

m=myclass()

print(m.x)

5

In [117]:
class person:
    def __init__(self,name, age):
        self.name=name
        self.age=age

p1=person('jinal', 23)
print(p1.name)

jinal

In [119]:
p1.age

23

In [121]:
class person:
    def __init__(self, name, age):
        self.name=name
        self.age=age

    def __str__(self):
        return f'{self.name} and {self.age}'

p1=person('jinal', 20)
print(p1)

jinal and 20

In [123]:
class info:
    def __init__(self, name, age):
        self.name=name
        self.age=age

    def fun(self):
        print(f' heloo my name is {self.name} and my age is {self.age}')

i=info('jinal', 22)
i.fun()

 heloo my name is jinal and my age is 22

In [126]:
class person:
    def __init__(self, name, age):
        self.name=name
        self.age=age

    def info(self):
        print(f' your name is {self.name} and your age is {self.age }')

p=person('jinal', 22)
p.info()

 your name is jinal and your age is 22

In [136]:


def bubble(arr):
    n=len(arr)
    for i in range(n):
         for j in range(0,n-i-1):
             if arr[j]>arr[j+1]:
                 arr[j],arr[j+1]=arr[j+1],arr[j]

arr=[9,6,-1,3,4,6,2,9,7,5,2,43,21,3234,54,32,9]
bubble(arr)
print(arr)

[-1, 2, 2, 3, 4, 5, 6, 6, 7, 9, 9, 9, 21, 32, 43, 54, 3234]

In [140]:
arr=[54,4332,21,43,54,423,76,564,43,54,32,87]

def bubble(arr):
    n=len(arr)
    for i in range(n):
        for j in range(0,n-i-1):
            if arr[j] > arr[j+1]:
                arr[j],arr[j+1]=arr[j+1],arr[j]
bubble(arr)
print(arr)

[21, 32, 43, 43, 54, 54, 54, 76, 87, 423, 564, 4332]

In [138]:
basket=['jinal', 'dicit', 'dishit', 'jinixit', 'hello']
for v in enumerate(basket):
    print(v)

(0, 'jinal')
(1, 'dicit')
(2, 'dishit')
(3, 'jinixit')
(4, 'hello')

In [141]:
m= {'name' : 'jinal', 'age': 22}
print(m)

{'name': 'jinal', 'age': 22}

In [142]:
m['name']='dixit'
print(m)

{'name': 'dixit', 'age': 22}

In [143]:
m['surname']='lathiya'
print(m)

{'name': 'dixit', 'age': 22, 'surname': 'lathiya'}

In [147]:
n=[m for m in range(1,10)  if m%2==0]
print(n)

[2, 4, 6, 8]

In [148]:
n= [n for n in range(1,50) if n%2!=0]
print(n)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [149]:
#Generate a list of squares of numbers from 1 to 10.


n= [n*n for n in range(1,10)]
print(n)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [151]:
#Create a list of even numbers from 1 to 20.

m=[n for n in range(1,20) if n%2==0]
print(m)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [152]:
#Generate a list of tuples (x, y) where x is from 1 to 3 and y is from 1 to 3.

n= [(x,y) for x in range(1,4) for y in range(1,4)]
print(n)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [153]:
#Create a list containing the lengths of words from a given list of strings.

n=['jinal', 'dixit', 'jinixit6', 'hina', 'ekta']

m=[len(i) for i in n]
print(m)

[5, 5, 8, 4, 4]

In [155]:
#Flatten a given list of lists and include only the numbers that are divisible by 3.


a=[3,6,9,12,21,32,45,32,12]
i=[n for n in a if n%3==0]
print(i)

[3, 6, 9, 12, 21, 45, 12]

In [159]:
#Replace each number in a given list with 'Even' if it's even and 'Odd' if it's odd.

l=[1,2,3,4,5,6,7,8,9,10]
m=['even' if n%2==0 else 'odd' for n in l  ]
print(m)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [161]:
#Generate a set of squares of numbers from a given list of integers.

m=[1,2,3,4,5,6,7,8,9,10]
i=[n*n for n in m]
print(i)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [163]:
#Write a lambda function that adds two numbers together.

m= lambda a,b: a+b
print(m(1,2))

3

In [164]:
'''Use a lambda function with the filter() function to filter a list of numbers, keeping 
only the even numbers.'''

m=[1,2,3,43,32,4,32,21,32,12,87,76,54,4,3,0]

i=list(filter(lambda n: n%2==0,m))
print(i)

[2, 32, 4, 32, 32, 12, 76, 54, 4, 0]

In [165]:
#Use a lambda function with the map() function to square each number in a list.

m=[1,2,3,4,5,6,7,8,9,10]
i=list(map(lambda n: n*n,m))
print(i)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [166]:
import pandas as pd

In [168]:
df= pd.read_csv('Sales.csv')

In [169]:
df.head()

                 Date   SKU     Product Name    City  Sales
0  2023-01-01 0:00:00  F001  Prateek England  Mumbai     93
1  2023-01-01 0:00:00  F002    Lucy Phillepe  Mumbai     36
2  2023-01-01 0:00:00  F003         Badlands  Mumbai      7
3  2023-01-01 0:00:00  F004      Allen Dolly  Mumbai     55
4  2023-01-01 0:00:00  F005           Bucchi  Mumbai     41

In [170]:
df.tail()

                    Date   SKU                Product Name        City  Sales
6195  2023-01-30 0:00:00  G001           Crafting Chandlar  Aurangabad     13
6196  2023-01-30 0:00:00  G002                  Desi Kurti  Aurangabad     24
6197  2023-01-30 0:00:00  G003  Family Cake and Card Combo  Aurangabad     66
6198  2023-01-30 0:00:00  G004           Exact Flower Vase  Aurangabad     55
6199  2023-01-30 0:00:00  G005          Friends Dinner Set  Aurangabad     59

In [171]:
df.head(21)

                  Date   SKU         Product Name    City  Sales
0   2023-01-01 0:00:00  F001      Prateek England  Mumbai     93
1   2023-01-01 0:00:00  F002        Lucy Phillepe  Mumbai     36
2   2023-01-01 0:00:00  F003             Badlands  Mumbai      7
3   2023-01-01 0:00:00  F004          Allen Dolly  Mumbai     55
4   2023-01-01 0:00:00  F005               Bucchi  Mumbai     41
5   2023-01-01 0:00:00  M001               Jhaomi  Mumbai      0
6   2023-01-01 0:00:00  M002               Samson  Mumbai     17
7   2023-01-01 0:00:00  M003                Mokia  Mumbai     41
8   2023-01-01 0:00:00  M004             Hotorola  Mumbai      8
9   2023-01-01 0:00:00  M005                2plus  Mumbai     28
10  2023-01-01 0:00:00  B001          Harry putar  Mumbai     22
11  2023-01-01 0:00:00  B002             4 states  Mumbai     25
12  2023-01-01 0:00:00  B003    Shaktiman Returns  Mumbai     73
13  2023-01-01 0:00:00  B004        Goli's Travel  Mumbai     47
14  2023-01-01 0:00:00  B005   Story of Your Life  Mumbai    108
15  2023-01-01 0:00:00  V001  Prince of Dholakpur  Mumbai     12
16  2023-01-01 0:00:00  V002                Nario  Mumbai    117
17  2023-01-01 0:00:00  V003               Pacman  Mumbai    243
18  2023-01-01 0:00:00  V004        LTA Wise City  Mumbai     47
19  2023-01-01 0:00:00  V005            HIFA 2023  Mumbai     29
20  2023-01-01 0:00:00  S001      Abibas Football  Mumbai      7

In [172]:
df.tail(10)

                    Date   SKU                Product Name        City  Sales
6190  2023-01-30 0:00:00  P001           Podigree Dog Food  Aurangabad     27
6191  2023-01-30 0:00:00  P002               Matty Dog Bed  Aurangabad     38
6192  2023-01-30 0:00:00  P003      Park Range Pet Shampoo  Aurangabad     60
6193  2023-01-30 0:00:00  P004       Old Mint Pet Shampoos  Aurangabad     42
6194  2023-01-30 0:00:00  P005     Reflective Dog RainCoat  Aurangabad      5
6195  2023-01-30 0:00:00  G001           Crafting Chandlar  Aurangabad     13
6196  2023-01-30 0:00:00  G002                  Desi Kurti  Aurangabad     24
6197  2023-01-30 0:00:00  G003  Family Cake and Card Combo  Aurangabad     66
6198  2023-01-30 0:00:00  G004           Exact Flower Vase  Aurangabad     55
6199  2023-01-30 0:00:00  G005          Friends Dinner Set  Aurangabad     59